{% extends "base.html" %}
{% load url from future %}
{% block contents %}


<div class = "page-header">
	<h1>Customers</h1>
</div>

{% if customers %}
	{% for customer in customers %}
		<h3><a href="{% url 'ManageBilling:customer' customer.pk%}">{{customer}}</a><br> <small>{{customer.address}}</small></h3>
		<p><strong>${{customer.month_billed_dollars_todate}}</strong> billed this month to date, <strong>${{customer.month_projected_total_dollars}}</strong> projected for the month
	{% endfor %}
{% else %}
	<p> No results found</p>
{% endif %}
{% include "Customer/new_customer_frag.html" %}
{% endblock %}