{% extends "base.html" %}
{% load url from future %}
{% block contents %}

<ul class="breadcrumb">
	<li><a href="{% url 'ManageBilling:login_view' %}">Home</a> <span class="divider">>></span></li>
	<li><a href="{% url 'ManageBilling:customers' %}">Customers</a> <span class='divider'>>></span></li>
	<li><a href="{% url 'ManageBilling:customer' customer.pk %}">{{customer}}</a> <span class='divider'> : </span></li>
	<li class = "active">{{contact}}</li>
</ul>

<div class = "page-header">
	<h1>{{contact}}:<br> <small>{{contact.phone}}, {{contact.email}}</small></h1><br />
</div>

<div class="row-fluid">
	<ul class ="thumbnails">
		{% for interaction in interactions %}
		<li>
			<div class="thumbnail">
				<div class="caption">
					<h4>{{interaction}}</h4>
					<p>{{interaction.note}}</p>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}